*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.form-container{
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 0 10px 10px #3339;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form-group{
    margin-bottom: 15px;
}

.form-container h2{
    text-align: center;
    margin-bottom: 10px;
    width: 200px;
}
.form-container label{
    display: block;
}

.form-group input{
    border: 1px solid #000;
    background-color: transparent;
    padding: 3px;
    outline: none;
}

.form-group input[type="checkbox"]{
    margin-right: 10px;
}

.form-group fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.5rem;
    text-align: start;
}

.form-group button{
    background-color: transparent;
    border:2px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    font-weight: 800;
    border-radius: 15px;
    &:hover{
        background-color: #000;
        color: white;
        transition: all 0.2s ease-in;
    }
}
/* .form-group select{
    border: 1px solid #000;
    background-color: transparent;
    padding: 3px;
    width: 100%;
} */
.info-container{
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 0 10px 10px #3339;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
/* .info-container span{
    display: flex;
    gap: 5px;
    align-items: center;
    h2{
        font-size: 20px;
        color: #333;
    }
} */